@charset "UTF-8";
/* Header And Main Saction Start */
header {
  height:110px;
  width: 710px;
}
main{
  width: 800px;
  display: flex;
}
/* Header And Main Saction Ends */
/* Body Section Start */
body{
  background-image: url(../images/back.gif);
  background-repeat: repeat-y;
  background-color: #ffffcc;
}
/* Body Section Ends */
/* H1 and H2 Section Start */
h1{
  font-size: 58px;
  text-align: right;
  counter-reset: #003399;
}
h2{
  border-width: 0 0 5px;
  border-style: solid;
  color: #003399;
}
/* H1 And H2 Section Ends */
/* Ul and nav and article Section Start */
ul{
  line-height: 2em;
  background-color: #ccff99;
}
nav{
  justify-content: space-between;
  width:70px;
}
article{
  margin-left: 1px;
  width:560px;
}
/*  Ul and nav and article Section Ends */
/* Table section Start */
table{
  width: 100%;
  border-collapse: collapse;
}
td,th{
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
/* Table Section Ends */
/* Footer Section Start */
footer{
  width: 640px;
}
/* Footer Section Ends */